.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center
}


.vh10 {
  height: 10vh;
  font-size: 10vh;
}

.vh15 {
  height: 15vh;
  font-size: 15vh;
}

.vh20 {
  height: 20vh;
  font-size: 20vh;
}

.vh25 {
  height: 25vh;
  font-size: 25vh;
}

.vh30 {
  height: 30vh;
  font-size: 30vh;
}

.vh35 {
  height: 35vh;
  font-size: 35vh;
}

.vh40 {
  height: 40vh;
  font-size: 40vh;
}

.vh70 {
  height: 70vh;
  font-size: 70vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/** An element that fades in */
.scene_element--fadein {
  animation: fadeIn 2s;
}
